.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  background-color: azure;
  
}

.mybg{
  background-image: url('images/bg.jpg');
  background-repeat: repeat-x;
  height: 260px;
  color: white;
  text-decoration-color: white;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.mycard {
  
  width: 500px;
  height: 180 px;
  border: 2px solid black;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;

}

#myInput{
  width: 200px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}